<div class="history">
    <div class="cd-timeline-header">
        <h2 id="Experience">Experience</h2>
        <hr class="bar"/>
    </div>
    <section id="cd-timeline" class="cd-container">

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture">
                <img src="../assets/img/college.svg" alt="Picture"/>
            </div><!-- cd-timeline-img-->
            <div class="cd-timeline-content">
                <h2 class="story-heading">Education and Training</h2>
                <p>
                    <p>Wuhan University. Master in International Business. <br>[Aug 2022 – Jul 2024]</p>
                    <p>Universidad Pedagógica y Tecnológica de Colombia. Bachelor’s Degree in Foreign Languages, English and French. <br>[Feb 2016 – Jul 2021]</p>
                    <p>Pontificia Universidad Católica de Chile. Specialization in Doing Business in Latin America. <br>[Jul 2021 – Jul 2022]</p>
                    <p>ESSEC Business School. Specialization in Negotiation, Mediation, and Conflict Resolution. <br>[Jul 2021 – Jul 2022]</p>
                </p>
                <span class="cd-date">2016-2024</span>
            </div><!-- cd-timeline-content--><!-- cd-timeline-block-->
        </div>

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-movie">
                <img src="../assets/img/idea14.svg" alt="Tools"/>
            </div><!-- cd-timeline-img-->
            <div class="cd-timeline-content">
                <h2>Cat Tools and Software</h2>
                <p>
                    <p>OmegaT</p>
                    <p>Rian.io</p>
                    <p>Memsource</p>
                    <p>Crowdin</p>
                    <p>SDL Trados Studio</p>
                    <p>WordPress</p>
                    <p>HTML</p>
                </p>
                <span class="cd-date"></span>
            </div><!-- cd-timeline-content--><!-- cd-timeline-block-->
        </div>

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture">
                <img src="../assets/img/web-programming.svg" alt="Picture"/>
            </div><!-- cd-timeline-img-->
            <div class="cd-timeline-content">
                <h2>Work Experience</h2>
                <p>
                    <p>Nexo // Editor for Latin American Spanish Audience <br>[Jun 2024]</p>
                    <p>Copa Airlines // Spanish to French Translator <br>[7 Nov 2021 – 31 Jul 2024]</p>
                    <p>Viraj Profiles // Digital Marketing Executive (Master Internship) <br>[2 Feb 2023 – 4 Feb 2024]</p>
                    <p>Translartech // Translation Project Manager <br>[10 Feb 2020 – 11 Sep 2022]</p>
                    <p>Starlight Technology // English to Spanish Translator <br>[17 Feb 2020 – 18 Sep 2021]</p>
                </p>
                <span class="cd-date">2015 - Present</span>
            </div><!-- cd-timeline-content--><!-- cd-timeline-block-->
        </div>

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-location">
                <img src="../assets/img/graduate38.svg" alt="Location"/>
            </div><!-- cd-timeline-img-->
            <div class="cd-timeline-content">
                <h2>Licenses & Certifications</h2>
                <p>
                    <p>Cryptocurrency and Blockchain: An Introduction to Digital Currencies // Wharton University of Pennsylvania</p>
                    <p>Google SEO Fundamentals // University of California, Davis</p>
                    <p>Clinical Terminology for International and U.S. Students // University of Pittsburgh</p>
                    <p>Blockchain, Cryptoassets, and Decentralized Finance // INSEAD</p>
                </p>
                <span class="cd-date"></span>
            </div><!-- cd-timeline-content--><!-- cd-timeline-block-->
        </div>

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-location">
                <img src="../assets/img/hosting.svg" alt="Location"/>
            </div><!-- cd-timeline-img-->
            <div class="cd-timeline-content">
                <h2>Volunteering</h2>
                <p>
                    <p>Women in Games International // Promoting inclusion and advancement of women in the games industry. [2021 – 2024]</p>
                    <p>Ethereum // Spanish Translator for the cryptocurrency market in Latin America. [2021 – 2024]</p>
                    <p>Translators without Borders // Spanish Translator, Medical Translator, and Editor. [2019 – 2024]</p>
                </p>
                <span class="cd-date">2019 - Present</span>
            </div><!-- cd-timeline-content--><!-- cd-timeline-block-->
        </div>

    </section>
    <div class="cd-timeline-header">
        <h2></h2>
    </div>
</div>
